BasedOnStyle: Mozilla

AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlinesLeft: true
AlignOperands:   true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: true
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  AfterClass:      true
  AfterControlStatement: true
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  true
  AfterObjCDeclaration: true
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     true
  BeforeElse:      true
  IndentBraces:    false
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: true
BreakConstructorInitializersBeforeComma: true
ColumnLimit:     90
CommentPragmas:  '^ IWYU pragma:'
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
DerivePointerAlignment: false
DisableFormat:   false
ExperimentalAutoDetectBinPacking: false
ForEachMacros:   [ foreach, Q_FOREACH, BOOST_FOREACH ]
IncludeCategories:
  - Regex:           '^"engine/.*'
    Priority:        0
  - Regex:           '^"tool/.*'
    Priority:        10

  - Regex:           '^"task/[^/]*$'
    Priority:        21
  - Regex:           '^"task/.*'
    Priority:        20

  - Regex:           '^"tpool/.*'
    Priority:        30
  - Regex:           '^"parser/.*'
    Priority:        40

  - Regex:           '^"dom/[^/]*$'
    Priority:        51
  - Regex:           '^"dom/.*'
    Priority:        50
    
  - Regex:           '^"logex/.*'
    Priority:        60    

  - Regex:           '^"option/.*'
    Priority:        70

  - Regex:           '^"doim/[^/]*$'
    Priority:        81
  - Regex:           '^"doim/.*'
    Priority:        80

  - Regex:           '^"dp/.*'
    Priority:        90
  - Regex:           '^"db/.*'
    Priority:        100
  - Regex:           '^"err/.*'
    Priority:        100
  - Regex:           '^"log/.*'
    Priority:        110
  - Regex:           '^"im/.*'
    Priority:        110
  - Regex:           '^"const/.*'
    Priority:        120
  - Regex:           '^"math/.*'
    Priority:        120
  - Regex:           '^"rtti/.*'
    Priority:        120
  - Regex:           '^"gtest/.*'
    Priority:        130
  - Regex:           '^<gtest/.*'
    Priority:        140
#Note: that cppformat has to be on top of spdlog, even the real dependency is the opposite
#      we need this to be able to override the internal version of spdlog
  - Regex:           '^<fmt/.*'
    Priority:        150
  - Regex:           '^<spdlog/details/.*'
    Priority:        161
  - Regex:           '^<spdlog/.*'
    Priority:        160
  - Regex:           '^<boost/.*'
    Priority:        160
  - Regex:           '^<rocksdb/.*'
    Priority:        160
  - Regex:           '^".*"$'
    Priority:        1000
  - Regex:           '<.*[.]h>'
    Priority:        2010
  - Regex:           '<.*>'
    Priority:        2000
IndentCaseLabels: true
IndentWidth:     4
IndentWrappedFunctionNames: false
KeepEmptyLinesAtTheStartOfBlocks: false
MacroBlockBegin: ''
MacroBlockEnd:   ''
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
ObjCBlockIndentWidth: 2
ObjCSpaceAfterProperty: false
ObjCSpaceBeforeProtocolList: true
PenaltyBreakBeforeFirstCallParameter: 100
PenaltyBreakComment: 400
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000000
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 1000000
PointerAlignment: Left
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles:  false
SpacesInContainerLiterals: true
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard:        Cpp11
TabWidth:        4
UseTab:          Never
