/axe/
/boost/
/clang/
/cmake/
/curl/
/fmt/
/gtest/
/iwyu/
/iconv/
/rocksdb/
/spdlog/
/protobuf/
/grpc/
/zlib/
/libgit2/
/bzip2/
/build/

xcuserdata/

.DS_Store
/dbs
/dbs.*
/build.sh.*

*.pb.cc
*.pb.h
